<!--
 Title: Nodebucket
Author: Lucas Hoffman
Date: April 14, 2022
Description: Nodebucket
-->

<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%; text-align: center" class="mat-elevation-z4">
    <mat-card-title>
      <!-- The overlap of the text and the card border was accidental, but I liked the way it looks-->
      <img src="../../../assets/404.png" />
    </mat-card-title>
    <br />
    <br />
    <br />
    <mat-card-subtitle>Sorry, the page you're looking for does not exist.</mat-card-subtitle>
    <br />
    <mat-card-content style="text-align: center">
      <button mat-stroked-button color="primary" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div>
