<!--
  Title: about us html page
Author: Lucas Hoffman
Date: April 14, 2022
Description: about us html page for nodebucket
-->
<br />
<br />

<div fxLayout="row" fxLayoutAlign="center start" >
  <div fxFlex="60%">
    <div fxLayout="column">
      <img class="about-img" src="../../../assets/aboutus.jpg" />
    </div>
<br>

    <div >
      <h1>What is Nodebucket?</h1>
      <p>
        With Nodebucket, you are able to stay organized while managing the many tasks that you have. With real-time updates, Nodebucket is the application that will help you stay on track.
          This application can be used by people who like to drag and drop their tasks, or by an organization who wants to see what their employees are doing and have completed. 
          If you are sick of sticky notes that can get easily lost - Nodebucket is an application that is worth a try! 
      </p>
      <h1>A Task Manager That is Simple.</h1>
      <p>
        Nodebucket allows you to create new tasks, and move them to either to do, in-progress or done. This can be very useful for individuals, organizations, and teams who work together.
          This easy to use interface leaves no room for confusion while using Nodebucket. With cyber security crimes on the rise, Nodebucket has made an extreme effort to ensure users that only they can view their application. 
          Nodebucket provides a user ID for people who try to log in to our application - making Nodebucket a very secure application.
          
      </p>
<br>
<br>
<br>

    </div>
  </div>
</div>


